@model Department
@{
    ViewData["Title"] = "Department Details";
}

<h1>Department Details</h1>

<br />

<div>
    <h4>Department</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Code)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Code)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.DateOfCreation)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.DateOfCreation)
        </dd>
    </dl>

    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a> |
    <a asp-action="Index" class="btn btn-light">Back to List</a>

</div>
