@model IEnumerable<EmployeeViewModel>

@{
    ViewData["Title"] = "Index";
}
    
<h1>All Employees</h1>
<br />

<a class="btn btn-success" asp-action="Create" mt-5> Add New Employee </a>

<div class="row justify-content-center align-items-center mt-5">
    <form class="row col-8 offset-2" asp-action="Index">
        <div class="col-8">
            <input type="text" class="form-control" name="searchInput" placeholder="Search By Name" />
        </div>
        <div class="col-4">
            <input type="submit" value="Search" class="btn btn-success" />
        </div>
    </form>
</div>


@if (Model.Count() > 0)
{
    <table class="table table-striped table-hover mt-3">
        <thead>
            <tr>
                <th>Image</th>

                <td>@Html.DisplayNameFor(e => e.Name)</td>
                <td>@Html.DisplayNameFor(e => e.Age)</td>
                <td>@Html.DisplayNameFor(e => e.Address)</td>
                <td>@Html.DisplayNameFor(e => e.Department)</td>
                <td>@Html.DisplayNameFor(e => e.Salary)</td>
                <td>@Html.DisplayNameFor(e => e.IsActive)</td>
                <td>@Html.DisplayNameFor(e => e.Email)</td>
                <td>@Html.DisplayNameFor(e => e.Gender)</td>
@*                 <td>@Html.DisplayNameFor(e => e.EmployeeType)</td>
 *@                <td>Details</td>
                <td>Update</td>
                <td> Delete</td>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td><img src="~/files/images/@item.ImageName" alt="@item.Name Image" class="img-thumbnail" style="width: 50px; height: 50px;" /></td>
                    <td>@Html.DisplayFor(E => item.Name)</td>
                    <td>@Html.DisplayFor(E => item.Age)</td>
                    <td>@Html.DisplayFor(E => item.Address)</td>
                    <td>@Html.DisplayFor(e => item.Department.Name)</td>
                    <td>@Html.DisplayFor(E => item.Salary)</td>
                    <td>@Html.DisplayFor(E => item.IsActive)</td>
                    <td>@Html.DisplayFor(E => item.Email)</td>
                    <td>@Html.DisplayFor(E => item.Gender)</td>
@*                     <td>@Html.DisplayFor(E => item.EmployeeType)</td>
 *@                    <partial name="_ButtonsPartial" model="@item.Id" />"
                </tr>
            }
        </tbody>

    </table>

}
else
{
    <div class="mt-5 alert alert-warning">
        <h3>There are No Employee, yet ;)</h3>
    </div>
}




